
:root {
	--color-global-background: #111;
	--color-global-text: #eee;
	--color-highlight: #6666ff;
	--color-warning: #ff0000;

	--global-controls-height: 50px;

	--board-width: 400px;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui, sans-serif;
	font-weight: normal;

	background: var(--color-global-background);
	color: var(--color-global-text);
	height: 100vh;
	overflow: hidden;
}

h1,h2,h3,h4,h5,h6,p,ol,ul {
	margin: 0;
	padding: 0;
}

input {
	vertical-align: middle;
}

button {
	cursor: pointer;
	background: #222;
	border-radius: 10px;
	padding: 10px 20px;
	color: #fff;
	border: 1px solid #444;
}

	button:hover {
		background: #333;
	}

	button.active {
		background: #555;
		border-color: #777;
	}

	button.add,
	button.remove {
		border: 1px dashed #444;
	}

		button.add:hover,
		button.add:focus,
		button.remove:hover,
		button.remove:focus {
			border-style: solid;
		}

	button:focus {
		outline: 1px solid var(--color-highlight);
	}

	button.play-pause {
		width: 40px;
		height: 40px;
		overflow: hidden;
		vertical-align: middle;
		padding: 0;
		margin: 0;
		color: transparent;
		border: 1px solid #444;
		background: #222;
		border-radius: 50%;
		outline: none;
		position: relative;
		box-shadow: 0 0 10px rgba(0,0,0,.2);
	}

		button.play-pause:before,
		button.play-pause:after {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 5;
			font-size: 36px;
			padding-left: 4px;
			padding-bottom: 1px;
			box-sizing: border-box;
			color: var(--color-highlight);
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

			button.play-pause:before {
				content: "⏵";
				opacity: 1;
			}

			button.play-pause:after {
				content: "⏸";
				opacity: 0;
			}

			.playing button.play-pause:before {
				opacity: 0;
			}

			.playing button.play-pause:after {
				opacity: 1;
			}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 15rem;
	width: 200px;
}

	input[type="range"]:focus {
		outline: none;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		background-color: #000;
		border-radius: 10px;
		height: 10px;  
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		margin-top: -12px;
		background-color: #666;
		border: 1px solid #777;
		box-shadow: 1px 1px 6px rgba(0,0,0,.4);
		border-radius: 4px;
		height: 24px;
		width: 6px;
	}

	input[type="range"]:focus::-webkit-slider-thumb {   
		background: #999;
		border-color: #aaa;
	}

	input[type="range"]::-moz-range-track {
		background-color: #000;
		border-radius: 10px;
		height: 10px;
	}

	input[type="range"]::-moz-range-thumb {
		border: none;
		border-radius: 0;
		background-color: #666;
		border: 1px solid #777;
		box-shadow: 1px 1px 6px rgba(0,0,0,.4);
		border-radius: 4px;
		height: 24px;
		width: 6px;
	}

	input[type="range"]:focus::-moz-range-thumb {
		background: #999;
		border-color: #aaa;
	}

	input[type="range"]::-moz-range-progress {
		height: 8px;
		border: 1px solid #000;
		border-radius: 4px;
		background-color: var(--color-highlight); 
	}

.drag-drop-handle {
	display: inline-block;
	width: 26px;
	height: 40px;
	vertical-align: middle;
	position: relative;
	z-index: 10;
	cursor: move;
}

	.drag-drop-handle:before,
	.drag-drop-handle:after {
		content: "";
		display: block;
		width: 80%;
		left: 10%;
		height: 2px;
		background: #444;
		border-radius: 1px;
		border-top: 1px solid #555;
		top: 50%;
		position: absolute;
		transform: translate(0%, -50%);
	}

		.drag-drop-handle:before {
			margin-top: -3px;
		}

		.drag-drop-handle:after {
			margin-top: 3px;
		}

.canvas {
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
}

.global-controls {
	height: var(--global-controls-height);
	box-sizing: border-box;
	text-align: center;
	background: #2b2b2b;
	border-bottom: 1px solid #444;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 50;
	box-sizing: border-box;
}

.scenes {
	height: var(--global-controls-height);
	display: flex;
	gap: 5px;
	align-items: flex-end;
	padding: 0 10px;
}

	.scene-button {
		border-radius: 15px 15px 0 0;
	}
	
		.scene-button.add {
			border-bottom-style: solid;
		}

	.scene-button--active {
		border-bottom: #333;
		background: #111;
	}

.scene {
	--scene-height: calc(100vh - var(--global-controls-height));
	min-height: var(--scene-height);
}

	.scene-controls {
		background: #222;
		border-bottom: 1px solid #333;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}

.boards {
	--boards-height: var(--scene-height);
	min-height: var(--boards-height);
	display: flex;
	overflow-x: auto;
}

	.board-new {
		min-width: 200px;
		flex-grow: 1;
		flex-shrink: 1;
		box-sizing: border-box;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.board {
		width: var(--board-width);
		flex-shrink: 0;
		height: var(--boards-height);
		box-sizing: border-box;
		border-right: 1px solid #484848;
		display: flex;
		flex-direction: column;
	}

		.board-title {
			display: block;
			width: 100%;
			background: #222;
			text-align: center;
			box-sizing: border-box;
			height: 55px;
			padding: 10px;
			border-bottom: 1px solid #000;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

			.board-title .drag-drop-handle {
				width: 40px;
			}

			.board-title h2 {
				display: inline-block;
				cursor: text;
				flex-grow: 1;
			}

			.board-title .remove {
				width: 40px;
				overflow: hidden;
				color: transparent;
				padding: 0;
				position: relative;
			}
			
				.board-title .remove:after {
					content: "✖";
					font-size: 20px;
					line-height: 18px;
					font-weight: bold;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					color: #555;
					box-sizing: border-box;
					padding-bottom: 0.1em;
				}
				
					.board-title .remove:hover {
						border-color: var(--color-warning);
					}

					.board-title .remove:hover:after {
						color: var(--color-warning);
					}

		.tracks {
			flex-grow: 1;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
		}

			.track {
				display: block;
				padding: 10px 10px 10px 46px;
				box-sizing: border-box;
				background: #1a1a1a;
				border-bottom: 1px solid #333;
				position: relative;
				color: #999;
			}

				.track .drag-drop-handle {
					position: absolute;
					left: 10px;
					top: 50%;
					transform: translate(0%, -50%);
				}

			.track-new {
				flex-grow: 1;
				box-sizing: border-box;
				padding: 20px 10px;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
			}

		.board-meta {
			padding: 10px;
			background: #222;
			border-top: 1px solid #333;
		}

			.board-meta label {
				display: block;
			}
			
			.board-meta label + label {
				margin-top: 10px;
			}

.youtube-embed {
	width: 106px;
	height: 60px;
	overflow: hidden;
	margin-left: 10px;
	background: #000;
	vertical-align: middle;
	display: inline-block;
}

	.youtube-embed iframe {
		width: 356px;
		height: 200px;
		transform: scale(0.3);
		transform-origin: left top;
	}
